@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$red1: #da3f3f;

$color1: #f5f5f5;
$color2: #1980a0;
// $fff: rgb(216, 211, 211);
$fff: rgb(253, 252, 252);
$red: #da202f;
$blue: #d81b6a;

$primary1: #fd5f5f;
$primary: #ff9292;
$secondary: #ffb4b4;
$tertiary: #ffdcdc;
$quaternary: #ffe8e8;

* {
  margin: 0;
  padding: 0;
  // font-family: "Courgette", cursive;
  // font-family: "Sedgwick Ave", cursive;
  // font-family: "Mochiy Pop P One", sans-serif;
  // font-family: "Share Tech", sans-serif;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;

  // color: $blue;
}

.filled {
  color: $primary;
}

.outlined {
  color: $primary1;
  // text-shadow: 0px 2px 2px $primary;
}

.moreLink {
  a {
    color: $primary1;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;

  }

  text-align: center // text-shadow: 0px 2px 2px $primary;
}

@import "./navbar";
@import "./home";
@import "./blogs";
@import "./projects";
@import "./skills";